# db
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# MinIo
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=12345678
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

ORDER_API_DOMAIN=""
HEALTHCHECK_URL=http://localhost:8080/health

ConnectionStrings__Postgres="Server=example.com;Port=5432;Database=order_service;User Id=postgres;Password=postgres"

Cors__AllowedOrigins=""

Jwt__Issuer="example.com"
Jwt__Audience="api.example.com"
Jwt__SecretKey="keylskjdfglksdjfgljdsbgjhghjdfghjbggskjdfshjhjbjhbdfshjbheruyuhuh"
Jwt__RequireHttpsMetadata=false
