
NEXT_PUBLIC_BASE_URL=""

DATABASE_URL=""
MYSQL_URL=""
NEXT_PUBLIC_API_URL=""

NEXT_PUBLIC_DADATA_TOKEN=""

RESEND_API_KEY=""
RESEND_FROM_EMAIL=""

YOOKASSA_API_KEY=""
YOOKASSA_STORE_ID=""
YOOKASSA_CALLBACK_URL="" 
YOOKASSA_PAYMENT_URL=""

#auth
NEXTAUTH_SECRET=""
JWT_ISSUER=""
JWT_AUDIENCE=""

GITHUB_ID=""
GITHUB_SECRET=""

GOOGLE_ID=""
GOOGLE_SECRET=""

NEXT_PUBLIC_ORDER_SERVICE_URL=""

TZ="Europe/Moscow"